*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.hero{

    min-height:120px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

body{
    background-image:url("../img/fondo4.webp");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

nav{

    position: fixed;
    top:0;
    left:0;
    transform: translate(0%);

    width:100%;
    max-width:1400px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;   
    padding:10px 0px;

    background:rgba(255,255,255,0.08);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    border:1px solid rgba(255,255,255,0.18);
    border-radius:1px;
    box-shadow:
        0 8px 30px rgba(0,0,0,0.25);
    z-index:1000;    
}

nav a{
    color:#fff;
    text-decoration:none;

    font-size:1.4rem;
    font-weight:bold;
    
    display:inline-block;
    transition: all .3s ease;
}

nav a:hover{
    color:#00AEEF;
    transform: translateY(-2px);
    text-shadow:
        0 0 5px rgba(0,174,239,.4),
        0 0 12px rgba(0,174,239,.25);
}

nav a.activo,
nav a.activo:hover{
    color:#00AEEF;
    border-bottom:2px solid #00AEEF;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}
.logo-menu img{
    width: 150px;
    height: auto;
    display: flex;
}

.menu-hero{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    flex-wrap: wrap;
    position: relative;
    background-color: rgba(0, 3, 7, 0.852); 
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 0px 45px;
    flex: 1;
    min-width: 150px;
}

.logo-footer{
    display: block;
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo p{
    margin-bottom:5px;
    font-family:'Manrope', sans-serif;
    font-size:13px;
    font-weight:550;
    letter-spacing:0px;
    text-transform:none;
    color:white;
    display: flex;
    align-items: center;
    gap: 7px;
    line-height: 1.5;
}

.phone-ico,
.whatsapp-ico,
.location-ico {

    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
    display: block;
}

.footer-servicios {
    flex: 1;
    min-width: 250px;
    padding: 22px;
}

.footer-servicios h3{
    margin-bottom:8px;
    font-family:'Manrope', sans-serif;
    font-size:18px;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
}

.footer-servicios p{
    margin-bottom:8px;
    font-family:'Manrope', sans-serif;
    font-size:10px;
    font-weight:520;
    letter-spacing:0px;
    text-transform:uppercase;
}

.location-ico{
    color: #00b4ff;
    font-size:18px;
    margin-right:3px;
    text-shadow:
        0 0 4px rgba(0,180,255,.7),
        0 0 8px rgba(0,180,255,.4);
}
.wha-ico{
    color:#028c2b;
    font-size:18px;
    margin-right:2px;
    text-shadow:
        0 0 6px rgba(0,180,255,.7),
        0 0 12px rgba(0,180,255,.4);
}

.phone-ico{
    color:#8a0202;
    font-size:18px;
    margin-right:3px;
    text-shadow:
        0 0 6px rgba(89, 92, 93, 0.7),
        0 0 12px rgba(123, 125, 125, 0.4);
}
.footer-container{

    background-color: rgba(0, 3, 7, 0.852);
}

.footer-servicios{
    color:white
}

.footer-links{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links a{
    color: white;             
    text-decoration: none;
    font-size: 10px;
    transition: .3s;

    margin-bottom:8px;
    font-family:'Manrope', sans-serif;
    font-size:10px;
    font-weight:520;
    letter-spacing:0px;
    text-transform:uppercase;
}